@using Northwind.Models
@model IEnumerable<Category>


<ul class="list-group">
    @foreach (Category category in Model)
    {
        <li class="list-group-item"i><a asp-controller="Product" asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryName - @category.Description</a>
        </li>
    }
</ul>
